<div class="content-title-container" id="main-title-container">
  <!-- Title -->
  <div class="title">
    <a href="/">
      Chelsea Lee
    </a>
  </div>
  
  <!-- Navigation bar -->
  <div class="nav-row">
    <div class="nav-item">
      <a href="/">
        HOME
      </a>
    </div>
    <div class="nav-item">
      <a href="/writing">
        WRITING
      </a>
    </div>
    <div class="nav-item">
      <a href="/photojournalism">
        PHOTOJOURNALISM
      </a>
    </div>
<!--    
    <div class="nav-item">
      <a href="/photos">
        PHOTOGRAPHY
      </a>
    </div>
-->
    <div class="nav-item">
      <a href="/videos">
        VIDEOGRAPHY
      </a>
    </div>
  </div>
</div>
