<div class="content-title-container" id="main-title-container">
  <!-- Title -->
  <div class="title">Chelsea Lee</div>
  
  <!-- Navigation bar -->
  <div class="nav-row">
    <div class="nav-item">
      <a href="/index.html">
        HOME
      </a>
    </div>
    <div class="nav-item">
      <a href="/index.html">
        ABOUT ME
      </a>
    </div>
    <div class="nav-item">
      <a href="/writing.html">
        WRITING
      </a>
    </div>
    <div class="nav-item">
      <a href="/photojournalism.html">
        PHOTOJOURNALISM
      </a>
    </div>
    <div class="nav-item">
      <a href="/instagram.html">
        INSTAGRAM REPORTING
      </a>
    </div>
    <div class="nav-item">
      <a href="/photos.html">
        PHOTOGRAPHY
      </a>
    </div>
    <div class="nav-item">
      <a href="/videos.html">
        VIDEOS
      </a>
    </div>
  </div>
</div>
